*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header{
    height: 15vh;
    background-color: #fccc2b;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header a{
    margin-top: 10px;
    text-decoration: none;
    color: black;

    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 5px;
    background: #bd940f;
    padding: 0.5rem;
}


header a img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

section{
    border: 1px solid #858585;
    width: 60vw;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

h2{
    margin-bottom: 1rem;
}

label{
    margin-bottom: 0.5rem;
    font-size: 18px;
}

input{
    padding: 0.2rem;
}

textarea{
    resize: none;
    height: 10vh;
}

button{
    width: 42vw;
    padding: 1rem;

    font-size: 20px;
    border: none;
    background: #858585;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    transition: ease-in-out 0.3s;
    background: #fccc2b;
    color: black;
}

table{
    border: 1px solid #858585;
    padding: 1rem;

    display: block;
    align-items: center;
    justify-content: center;

}

td{
    text-align: left;
    padding: 0.2rem;
}

td input{
    margin-left: 10px;
}

tr{
   text-align: center;
}